[submodule "deps/libhandlegraph"]
	path = deps/libhandlegraph
	url = https://github.com/vgteam/libhandlegraph.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
